* {
  border: none;
  border-radius: 0;
  /*font-family: "Ubuntu Nerd Font";*/
  font-family: "Hack";
  font-size: 12px;
  min-height: 0;
  margin-top: -4;
  margin-bottom: -4;
  background: transparent;
}

#workspaces button {
  font-weight: bold;
  padding: 0 0px;
  color: #0077FF;
}

#workspaces button.focused {
  font-weight: bold;
  color: white;
  background: #0088FF;
  /*background: #BB7700;*/
}

#workspaces button.urgent {
  color: #0033FF;
  background: red;
}

#tray,
#temperature,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-pom
{
  /*color: grey;*/
  /*color: #00AAFF;*/
  padding: 0 5px 0 7px;
  /*margin-right: 0px;*/
  /*margin-top: 0px;*/
  color: #0077FF;
}

#custom-notiff
{
  padding: 0 0px 0 0px;
}

#cpu.info {
  color: #00BBFF;
}
#cpu.warning {
  color: #FF9944;
}
#cpu.critical {
  color: red;
}


#temperature.critical {
  color: black;
  background-color: red;
}


#memory.warning {
  color: orange;
}
#memory.critical {
  color: red;
}


#battery {
    color: yellow;
    background-color: #000000;
    /*margin-top: -10px;*/
    /*margin-bottom: -10px;*/
}
#battery.full:not(.charging) {
    color: #0077FF; /*blue*/
    background-color: #000000;
}
#battery:not(.full).charging {
    color: orange;
    background-color: #000000;
}
#battery.full.charging {
    color: orange;
    background-color: #000000;
}

/*
#battery:not(.full):not(.charging) {
    color: yellow;
}
*/


#battery.warning {
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
}
#battery.critical:not(.charging) {
  /* color: orange; */
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  to {
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
  }
}


#network.disconnected {
  color: #FF0000;
  /*_background: #f53c3c;*/
}
/*
#network.low {
    color: cyan;
}
#network.moderate {
    color: yellow;
    background-color: green;
}
#network.high {
    background-color: red;
}
*/

#network.eth {
  color: #00AAFF;
  background: #222222;
}

#pulseaudio:not(.bluetooth) {
    background-color: red;
    color: black;
}
#pulseaudio.normal:not(.bluetooth):not(.muted) {
    background-color: yellow;
    color: black;
}
#pulseaudio.normal:not(.bluetooth) {
    background-color: yellow;
    color: black;
}
#pulseaudio.silent:not(.bluetooth):not(.muted) {
    background-color: yellow;
    color: black;
}
#pulseaudio.silent:not(.bluetooth).muted {
    color: #00AAFF;
    background: #000000;
}
