* {
  border: none;
  border-radius: 0;
  /*font-family: "Ubuntu Nerd Font";*/
  font-family: "Hack";
  font-size: 14px;
  min-height: 0;
  margin-top: -4;
  margin-bottom: -4;
}

window#waybar {
  color: white;
  background: black;
}

#window {
  margin-top: 0px;
}

#workspaces button {
  color: white;
  font-weight: bold;
  padding: 0 5px;
  background: transparent;
}

#workspaces button.focused {
  background: #BB7700;
}

#workspaces button.urgent {
  background: red;
}

#tray,
#temperature,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  color: grey;
  padding: 0 5px;
  margin-right: 0px;
  margin-top: 0px;
}

#temperature.critical {
  color: red;
}

#cpu {
  color: cyan;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}


#battery {
    color: yellow;
}
#battery.full.charging {
    color: #00AA00; /*green*/
}
#battery.warning {
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
}
#battery.critical:not(.charging) {
  /* color: orange; */
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  to {
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
  }
}


#network {
  color: #00AA00; /*green*/
}
#network.disconnected {
  background: #f53c3c;
}

